* {
    font-family: 'Comic Sans MS';
}
body {
    background-image: url('./images/kfc.webp');
    color: white;
}

a, a :visited {
    color: white;
    display: block;
}

a:hover {
    font-size: 30px;
    color: red;
}

.avatar {
    border: white solid 5px;
    width: 100px;
}